/* =============================================================================
   GENERAL
   ========================================================================== */

body {
    z-index: -2;
    background-color: #000;
}

a {
    color: #009bff;
    font-weight: 600;
    text-decoration: underline;
}

/* =============================================================================
   INTRO SECTION
   ========================================================================== */

#intro-section {
    position: relative;
}

.hide-load {
    opacity: 0;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
}

.player-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#player {
    position: fixed;
    z-index: -1;
}

#player-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: radial-gradient(ellipse 110% 100% at 50% 15%, rgba(0,0,0,0.50) 20%, rgba(0,0,0,0.55) 35%, #000 90%);
}

/* INTRO CONTROL PANEL */
.intro-panel {
    position: absolute;
    top: 50px;
    right: 50px;
    background: rgba(0,0,0,0.20);
    border: 1px solid rgba(255,255,255,0.50);
    border-radius: 2px;
}

.intro-panel span {
    color:white;   
    font-weight: 400;
}

.intro-panel a {
    text-decoration: none;
}

.panel-section {
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
}

.panel-section {
    border-right: 1px solid rgba(255,255,255,0.50);
}
.panel-section:last-child {
    border-right: 0;
}

.panel-section span {
    padding: 12px 15px;
    opacity: 0.75;
}

.panel-section span:hover {
    opacity: 1;
}

.panel-section a {
    font-weight: 300;
    letter-spacing: 1.78px;
    
    text-transform: uppercase;
}

/* MIT ASIAN DANCE TEAM */
#intro-section h1 {
    font-family: Oswald, Helvetica, arial, sans-serif;
    font-size: 77px;
    color: #FFFFFF;
    line-height: 85px;
    text-transform: uppercase;
    font-weight: 500;
    position: absolute;
    top: 110px;
    right: 50px;
    text-align: right;
}

/* =============================================================================
   SECTION FORMATTING
   ========================================================================== */

section:not(#intro-section) {
    color:white;
    width: 100%;
    text-align:center;
    color: white;
    padding-top:90px;
    padding-bottom:50px;
    background-color: #000;
}

.section-container {
    width: 700px;
    margin: 0 auto;
}

.section-title {
    display: inline-block;
    font-size:54px;
    margin-bottom: 40px;
    text-transform:uppercase;
    letter-spacing: 5px;
    font-family: Oswald, Helvetica, arial, sans-serif;
    font-weight: 500;
}

section p {
    text-align: left;
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.35em;
}

.section-image {
    background-size: contain;
    height: 0;
    background-repeat: no-repeat; 
}

/* =============================================================================
   REST OF THE CONTENT
   ========================================================================== */

#bathing-image {
    background-image: linear-gradient(-180deg, #000000 0%, rgba(0,0,0,0.50) 30%, rgba(0,0,0,0.50) 65%, #000000 100%), url('../assets/bathing.jpg');
    padding-top: 58.936%; /* workaround (img-height / img-width * container-width) = (1207 / 2048 * 100) */
    margin-top: -350px;
}

#mly-image {
    background-image: linear-gradient(-180deg, #000000 0%, rgba(0,0,0,0.50) 30%, rgba(0,0,0,0.50) 65%, #000000 100%), url('../assets/mly.jpg');
    padding-top: 59.94%; /* workaround (img-height / img-width * container-width) = (1019 / 1700 * 100) */
    margin-top: -280px;
}

#endless-image {
    background-image: linear-gradient(-180deg, #000000 0%, rgba(0,0,0,0.30) 15%), url('../assets/endless.jpg');
    padding-top: 66.748%; /* workaround (img-height / img-width * container-width) = (1367 / 2048 * 100) */
    margin-top: -100px;
}